/* Imports */
/* VARIABLES */
/* Theme Colors */
/* Dark-mode colors */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.test-btn {
  background-color: #9900ff;
}

/* Other Bits */
/* Reset Styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

/* END Reset Styles */
@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #00d6fc;
}

.text-hover-primary:hover {
  color: #00d6fc;
}

.bg-primary {
  background-color: #00d6fc;
}

.text-primary-light-1 {
  color: #1adafc;
}

.text-hover-primary-light-1:hover {
  color: #1adafc;
}

.bg-primary-light-1 {
  background-color: #1adafc;
}

.text-primary-light-2 {
  color: #33defd;
}

.text-hover-primary-light-2:hover {
  color: #33defd;
}

.bg-primary-light-2 {
  background-color: #33defd;
}

.text-primary-light-3 {
  color: #4de2fd;
}

.text-hover-primary-light-3:hover {
  color: #4de2fd;
}

.bg-primary-light-3 {
  background-color: #4de2fd;
}

.text-primary-light-4 {
  color: #66e6fd;
}

.text-hover-primary-light-4:hover {
  color: #66e6fd;
}

.bg-primary-light-4 {
  background-color: #66e6fd;
}

.text-primary-light-5 {
  color: #80ebfe;
}

.text-hover-primary-light-5:hover {
  color: #80ebfe;
}

.bg-primary-light-5 {
  background-color: #80ebfe;
}

.text-primary-light-6 {
  color: #99effe;
}

.text-hover-primary-light-6:hover {
  color: #99effe;
}

.bg-primary-light-6 {
  background-color: #99effe;
}

.text-primary-light-7 {
  color: #b3f3fe;
}

.text-hover-primary-light-7:hover {
  color: #b3f3fe;
}

.bg-primary-light-7 {
  background-color: #b3f3fe;
}

.text-primary-light-8 {
  color: #ccf7fe;
}

.text-hover-primary-light-8:hover {
  color: #ccf7fe;
}

.bg-primary-light-8 {
  background-color: #ccf7fe;
}

.text-primary-light-9 {
  color: #e6fbff;
}

.text-hover-primary-light-9:hover {
  color: #e6fbff;
}

.bg-primary-light-9 {
  background-color: #e6fbff;
}

.text-primary-dark-1 {
  color: #00c1e3;
}

.text-hover-primary-black-1:hover {
  color: #00c1e3;
}

.bg-primary-dark-1 {
  background-color: #00c1e3;
}

.text-primary-dark-2 {
  color: #00abca;
}

.text-hover-primary-black-2:hover {
  color: #00abca;
}

.bg-primary-dark-2 {
  background-color: #00abca;
}

.text-primary-dark-3 {
  color: #0096b0;
}

.text-hover-primary-black-3:hover {
  color: #0096b0;
}

.bg-primary-dark-3 {
  background-color: #0096b0;
}

.text-primary-dark-4 {
  color: #008097;
}

.text-hover-primary-black-4:hover {
  color: #008097;
}

.bg-primary-dark-4 {
  background-color: #008097;
}

.text-primary-dark-5 {
  color: #006b7e;
}

.text-hover-primary-black-5:hover {
  color: #006b7e;
}

.bg-primary-dark-5 {
  background-color: #006b7e;
}

.text-primary-dark-6 {
  color: #005665;
}

.text-hover-primary-black-6:hover {
  color: #005665;
}

.bg-primary-dark-6 {
  background-color: #005665;
}

.text-primary-dark-7 {
  color: #00404c;
}

.text-hover-primary-black-7:hover {
  color: #00404c;
}

.bg-primary-dark-7 {
  background-color: #00404c;
}

.text-primary-dark-8 {
  color: #002b32;
}

.text-hover-primary-black-8:hover {
  color: #002b32;
}

.bg-primary-dark-8 {
  background-color: #002b32;
}

.text-primary-dark-9 {
  color: #001519;
}

.text-hover-primary-black-9:hover {
  color: #001519;
}

.bg-primary-dark-9 {
  background-color: #001519;
}

.text-secondary {
  color: #7700ff;
}

.text-hover-secondary:hover {
  color: #7700ff;
}

.bg-secondary {
  background-color: #7700ff;
}

.text-secondary-light-1 {
  color: #851aff;
}

.text-hover-secondary-light-1:hover {
  color: #851aff;
}

.bg-secondary-light-1 {
  background-color: #851aff;
}

.text-secondary-light-2 {
  color: #9233ff;
}

.text-hover-secondary-light-2:hover {
  color: #9233ff;
}

.bg-secondary-light-2 {
  background-color: #9233ff;
}

.text-secondary-light-3 {
  color: #a04dff;
}

.text-hover-secondary-light-3:hover {
  color: #a04dff;
}

.bg-secondary-light-3 {
  background-color: #a04dff;
}

.text-secondary-light-4 {
  color: #ad66ff;
}

.text-hover-secondary-light-4:hover {
  color: #ad66ff;
}

.bg-secondary-light-4 {
  background-color: #ad66ff;
}

.text-secondary-light-5 {
  color: #bb80ff;
}

.text-hover-secondary-light-5:hover {
  color: #bb80ff;
}

.bg-secondary-light-5 {
  background-color: #bb80ff;
}

.text-secondary-light-6 {
  color: #c999ff;
}

.text-hover-secondary-light-6:hover {
  color: #c999ff;
}

.bg-secondary-light-6 {
  background-color: #c999ff;
}

.text-secondary-light-7 {
  color: #d6b3ff;
}

.text-hover-secondary-light-7:hover {
  color: #d6b3ff;
}

.bg-secondary-light-7 {
  background-color: #d6b3ff;
}

.text-secondary-light-8 {
  color: #e4ccff;
}

.text-hover-secondary-light-8:hover {
  color: #e4ccff;
}

.bg-secondary-light-8 {
  background-color: #e4ccff;
}

.text-secondary-light-9 {
  color: #f1e6ff;
}

.text-hover-secondary-light-9:hover {
  color: #f1e6ff;
}

.bg-secondary-light-9 {
  background-color: #f1e6ff;
}

.text-secondary-dark-1 {
  color: #6b00e6;
}

.text-hover-secondary-black-1:hover {
  color: #6b00e6;
}

.bg-secondary-dark-1 {
  background-color: #6b00e6;
}

.text-secondary-dark-2 {
  color: #5f00cc;
}

.text-hover-secondary-black-2:hover {
  color: #5f00cc;
}

.bg-secondary-dark-2 {
  background-color: #5f00cc;
}

.text-secondary-dark-3 {
  color: #5300b3;
}

.text-hover-secondary-black-3:hover {
  color: #5300b3;
}

.bg-secondary-dark-3 {
  background-color: #5300b3;
}

.text-secondary-dark-4 {
  color: #470099;
}

.text-hover-secondary-black-4:hover {
  color: #470099;
}

.bg-secondary-dark-4 {
  background-color: #470099;
}

.text-secondary-dark-5 {
  color: #3c0080;
}

.text-hover-secondary-black-5:hover {
  color: #3c0080;
}

.bg-secondary-dark-5 {
  background-color: #3c0080;
}

.text-secondary-dark-6 {
  color: #300066;
}

.text-hover-secondary-black-6:hover {
  color: #300066;
}

.bg-secondary-dark-6 {
  background-color: #300066;
}

.text-secondary-dark-7 {
  color: #24004d;
}

.text-hover-secondary-black-7:hover {
  color: #24004d;
}

.bg-secondary-dark-7 {
  background-color: #24004d;
}

.text-secondary-dark-8 {
  color: #180033;
}

.text-hover-secondary-black-8:hover {
  color: #180033;
}

.bg-secondary-dark-8 {
  background-color: #180033;
}

.text-secondary-dark-9 {
  color: #0c001a;
}

.text-hover-secondary-black-9:hover {
  color: #0c001a;
}

.bg-secondary-dark-9 {
  background-color: #0c001a;
}

.text-error {
  color: #b40000;
}

.text-hover-error:hover {
  color: #b40000;
}

.bg-error {
  background-color: #b40000;
}

.text-error-light-1 {
  color: #bc1a1a;
}

.text-hover-error-light-1:hover {
  color: #bc1a1a;
}

.bg-error-light-1 {
  background-color: #bc1a1a;
}

.text-error-light-2 {
  color: #c33333;
}

.text-hover-error-light-2:hover {
  color: #c33333;
}

.bg-error-light-2 {
  background-color: #c33333;
}

.text-error-light-3 {
  color: #cb4d4d;
}

.text-hover-error-light-3:hover {
  color: #cb4d4d;
}

.bg-error-light-3 {
  background-color: #cb4d4d;
}

.text-error-light-4 {
  color: #d26666;
}

.text-hover-error-light-4:hover {
  color: #d26666;
}

.bg-error-light-4 {
  background-color: #d26666;
}

.text-error-light-5 {
  color: #da8080;
}

.text-hover-error-light-5:hover {
  color: #da8080;
}

.bg-error-light-5 {
  background-color: #da8080;
}

.text-error-light-6 {
  color: #e19999;
}

.text-hover-error-light-6:hover {
  color: #e19999;
}

.bg-error-light-6 {
  background-color: #e19999;
}

.text-error-light-7 {
  color: #e9b3b3;
}

.text-hover-error-light-7:hover {
  color: #e9b3b3;
}

.bg-error-light-7 {
  background-color: #e9b3b3;
}

.text-error-light-8 {
  color: #f0cccc;
}

.text-hover-error-light-8:hover {
  color: #f0cccc;
}

.bg-error-light-8 {
  background-color: #f0cccc;
}

.text-error-light-9 {
  color: #f8e6e6;
}

.text-hover-error-light-9:hover {
  color: #f8e6e6;
}

.bg-error-light-9 {
  background-color: #f8e6e6;
}

.text-error-dark-1 {
  color: #a20000;
}

.text-hover-error-black-1:hover {
  color: #a20000;
}

.bg-error-dark-1 {
  background-color: #a20000;
}

.text-error-dark-2 {
  color: #900000;
}

.text-hover-error-black-2:hover {
  color: #900000;
}

.bg-error-dark-2 {
  background-color: #900000;
}

.text-error-dark-3 {
  color: #7e0000;
}

.text-hover-error-black-3:hover {
  color: #7e0000;
}

.bg-error-dark-3 {
  background-color: #7e0000;
}

.text-error-dark-4 {
  color: #6c0000;
}

.text-hover-error-black-4:hover {
  color: #6c0000;
}

.bg-error-dark-4 {
  background-color: #6c0000;
}

.text-error-dark-5 {
  color: #5a0000;
}

.text-hover-error-black-5:hover {
  color: #5a0000;
}

.bg-error-dark-5 {
  background-color: #5a0000;
}

.text-error-dark-6 {
  color: #480000;
}

.text-hover-error-black-6:hover {
  color: #480000;
}

.bg-error-dark-6 {
  background-color: #480000;
}

.text-error-dark-7 {
  color: #360000;
}

.text-hover-error-black-7:hover {
  color: #360000;
}

.bg-error-dark-7 {
  background-color: #360000;
}

.text-error-dark-8 {
  color: #240000;
}

.text-hover-error-black-8:hover {
  color: #240000;
}

.bg-error-dark-8 {
  background-color: #240000;
}

.text-error-dark-9 {
  color: #120000;
}

.text-hover-error-black-9:hover {
  color: #120000;
}

.bg-error-dark-9 {
  background-color: #120000;
}

.text-info {
  color: #ffd900;
}

.text-hover-info:hover {
  color: #ffd900;
}

.bg-info {
  background-color: #ffd900;
}

.text-info-light-1 {
  color: #ffdd1a;
}

.text-hover-info-light-1:hover {
  color: #ffdd1a;
}

.bg-info-light-1 {
  background-color: #ffdd1a;
}

.text-info-light-2 {
  color: #ffe133;
}

.text-hover-info-light-2:hover {
  color: #ffe133;
}

.bg-info-light-2 {
  background-color: #ffe133;
}

.text-info-light-3 {
  color: #ffe44d;
}

.text-hover-info-light-3:hover {
  color: #ffe44d;
}

.bg-info-light-3 {
  background-color: #ffe44d;
}

.text-info-light-4 {
  color: #ffe866;
}

.text-hover-info-light-4:hover {
  color: #ffe866;
}

.bg-info-light-4 {
  background-color: #ffe866;
}

.text-info-light-5 {
  color: #ffec80;
}

.text-hover-info-light-5:hover {
  color: #ffec80;
}

.bg-info-light-5 {
  background-color: #ffec80;
}

.text-info-light-6 {
  color: #fff099;
}

.text-hover-info-light-6:hover {
  color: #fff099;
}

.bg-info-light-6 {
  background-color: #fff099;
}

.text-info-light-7 {
  color: #fff4b3;
}

.text-hover-info-light-7:hover {
  color: #fff4b3;
}

.bg-info-light-7 {
  background-color: #fff4b3;
}

.text-info-light-8 {
  color: #fff7cc;
}

.text-hover-info-light-8:hover {
  color: #fff7cc;
}

.bg-info-light-8 {
  background-color: #fff7cc;
}

.text-info-light-9 {
  color: #fffbe6;
}

.text-hover-info-light-9:hover {
  color: #fffbe6;
}

.bg-info-light-9 {
  background-color: #fffbe6;
}

.text-info-dark-1 {
  color: #e6c300;
}

.text-hover-info-black-1:hover {
  color: #e6c300;
}

.bg-info-dark-1 {
  background-color: #e6c300;
}

.text-info-dark-2 {
  color: #ccae00;
}

.text-hover-info-black-2:hover {
  color: #ccae00;
}

.bg-info-dark-2 {
  background-color: #ccae00;
}

.text-info-dark-3 {
  color: #b39800;
}

.text-hover-info-black-3:hover {
  color: #b39800;
}

.bg-info-dark-3 {
  background-color: #b39800;
}

.text-info-dark-4 {
  color: #998200;
}

.text-hover-info-black-4:hover {
  color: #998200;
}

.bg-info-dark-4 {
  background-color: #998200;
}

.text-info-dark-5 {
  color: #806d00;
}

.text-hover-info-black-5:hover {
  color: #806d00;
}

.bg-info-dark-5 {
  background-color: #806d00;
}

.text-info-dark-6 {
  color: #665700;
}

.text-hover-info-black-6:hover {
  color: #665700;
}

.bg-info-dark-6 {
  background-color: #665700;
}

.text-info-dark-7 {
  color: #4d4100;
}

.text-hover-info-black-7:hover {
  color: #4d4100;
}

.bg-info-dark-7 {
  background-color: #4d4100;
}

.text-info-dark-8 {
  color: #332b00;
}

.text-hover-info-black-8:hover {
  color: #332b00;
}

.bg-info-dark-8 {
  background-color: #332b00;
}

.text-info-dark-9 {
  color: #1a1600;
}

.text-hover-info-black-9:hover {
  color: #1a1600;
}

.bg-info-dark-9 {
  background-color: #1a1600;
}

.text-slate {
  color: #24292e;
}

.text-hover-slate:hover {
  color: #24292e;
}

.bg-slate {
  background-color: #24292e;
}

.text-slate-light-1 {
  color: #3a3e43;
}

.text-hover-slate-light-1:hover {
  color: #3a3e43;
}

.bg-slate-light-1 {
  background-color: #3a3e43;
}

.text-slate-light-2 {
  color: #505458;
}

.text-hover-slate-light-2:hover {
  color: #505458;
}

.bg-slate-light-2 {
  background-color: #505458;
}

.text-slate-light-3 {
  color: #66696d;
}

.text-hover-slate-light-3:hover {
  color: #66696d;
}

.bg-slate-light-3 {
  background-color: #66696d;
}

.text-slate-light-4 {
  color: #7c7f82;
}

.text-hover-slate-light-4:hover {
  color: #7c7f82;
}

.bg-slate-light-4 {
  background-color: #7c7f82;
}

.text-slate-light-5 {
  color: #929497;
}

.text-hover-slate-light-5:hover {
  color: #929497;
}

.bg-slate-light-5 {
  background-color: #929497;
}

.text-slate-light-6 {
  color: #a7a9ab;
}

.text-hover-slate-light-6:hover {
  color: #a7a9ab;
}

.bg-slate-light-6 {
  background-color: #a7a9ab;
}

.text-slate-light-7 {
  color: #bdbfc0;
}

.text-hover-slate-light-7:hover {
  color: #bdbfc0;
}

.bg-slate-light-7 {
  background-color: #bdbfc0;
}

.text-slate-light-8 {
  color: #d3d4d5;
}

.text-hover-slate-light-8:hover {
  color: #d3d4d5;
}

.bg-slate-light-8 {
  background-color: #d3d4d5;
}

.text-slate-light-9 {
  color: #e9eaea;
}

.text-hover-slate-light-9:hover {
  color: #e9eaea;
}

.bg-slate-light-9 {
  background-color: #e9eaea;
}

.text-slate-dark-1 {
  color: #202529;
}

.text-hover-slate-black-1:hover {
  color: #202529;
}

.bg-slate-dark-1 {
  background-color: #202529;
}

.text-slate-dark-2 {
  color: #1d2125;
}

.text-hover-slate-black-2:hover {
  color: #1d2125;
}

.bg-slate-dark-2 {
  background-color: #1d2125;
}

.text-slate-dark-3 {
  color: #191d20;
}

.text-hover-slate-black-3:hover {
  color: #191d20;
}

.bg-slate-dark-3 {
  background-color: #191d20;
}

.text-slate-dark-4 {
  color: #16191c;
}

.text-hover-slate-black-4:hover {
  color: #16191c;
}

.bg-slate-dark-4 {
  background-color: #16191c;
}

.text-slate-dark-5 {
  color: #121517;
}

.text-hover-slate-black-5:hover {
  color: #121517;
}

.bg-slate-dark-5 {
  background-color: #121517;
}

.text-slate-dark-6 {
  color: #0e1012;
}

.text-hover-slate-black-6:hover {
  color: #0e1012;
}

.bg-slate-dark-6 {
  background-color: #0e1012;
}

.text-slate-dark-7 {
  color: #0b0c0e;
}

.text-hover-slate-black-7:hover {
  color: #0b0c0e;
}

.bg-slate-dark-7 {
  background-color: #0b0c0e;
}

.text-slate-dark-8 {
  color: #070809;
}

.text-hover-slate-black-8:hover {
  color: #070809;
}

.bg-slate-dark-8 {
  background-color: #070809;
}

.text-slate-dark-9 {
  color: #040405;
}

.text-hover-slate-black-9:hover {
  color: #040405;
}

.bg-slate-dark-9 {
  background-color: #040405;
}

.text-blue {
  color: #1919e6;
}

.text-hover-blue:hover {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.text-hover-blue-light-1:hover {
  color: #3030e9;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.text-hover-blue-light-2:hover {
  color: #4747eb;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.text-hover-blue-light-3:hover {
  color: #5e5eee;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.text-hover-blue-light-4:hover {
  color: #7575f0;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.text-hover-blue-light-5:hover {
  color: #8c8cf3;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.text-hover-blue-light-6:hover {
  color: #a3a3f5;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.text-hover-blue-light-7:hover {
  color: #babaf8;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-hover-blue-light-8:hover {
  color: #d1d1fa;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.text-hover-blue-light-9:hover {
  color: #e8e8fd;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.text-blue-dark-1 {
  color: #1717cf;
}

.text-hover-blue-black-1:hover {
  color: #1717cf;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.text-blue-dark-2 {
  color: #1414b8;
}

.text-hover-blue-black-2:hover {
  color: #1414b8;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.text-blue-dark-3 {
  color: #1212a1;
}

.text-hover-blue-black-3:hover {
  color: #1212a1;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.text-blue-dark-4 {
  color: #0f0f8a;
}

.text-hover-blue-black-4:hover {
  color: #0f0f8a;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.text-blue-dark-5 {
  color: #0d0d73;
}

.text-hover-blue-black-5:hover {
  color: #0d0d73;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.text-blue-dark-6 {
  color: #0a0a5c;
}

.text-hover-blue-black-6:hover {
  color: #0a0a5c;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.text-blue-dark-7 {
  color: #080845;
}

.text-hover-blue-black-7:hover {
  color: #080845;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.text-blue-dark-8 {
  color: #05052e;
}

.text-hover-blue-black-8:hover {
  color: #05052e;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.text-blue-dark-9 {
  color: #030317;
}

.text-hover-blue-black-9:hover {
  color: #030317;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.text-red {
  color: #e61919;
}

.text-hover-red:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-hover-red-light-1:hover {
  color: #e93030;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-hover-red-light-2:hover {
  color: #eb4747;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-hover-red-light-3:hover {
  color: #ee5e5e;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-hover-red-light-4:hover {
  color: #f07575;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-hover-red-light-5:hover {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-hover-red-light-6:hover {
  color: #f5a3a3;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-hover-red-light-7:hover {
  color: #f8baba;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-hover-red-light-8:hover {
  color: #fad1d1;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-hover-red-light-9:hover {
  color: #fde8e8;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.text-red-dark-1 {
  color: #cf1717;
}

.text-hover-red-black-1:hover {
  color: #cf1717;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.text-hover-red-black-2:hover {
  color: #b81414;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.text-hover-red-black-3:hover {
  color: #a11212;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.text-hover-red-black-4:hover {
  color: #8a0f0f;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.text-hover-red-black-5:hover {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.text-hover-red-black-6:hover {
  color: #5c0a0a;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.text-hover-red-black-7:hover {
  color: #450808;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.text-hover-red-black-8:hover {
  color: #2e0505;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-red-dark-9 {
  color: #170303;
}

.text-hover-red-black-9:hover {
  color: #170303;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #ffff00;
}

.text-hover-yellow:hover {
  color: #ffff00;
}

.bg-yellow {
  background-color: #ffff00;
}

.text-yellow-light-1 {
  color: #ffff1a;
}

.text-hover-yellow-light-1:hover {
  color: #ffff1a;
}

.bg-yellow-light-1 {
  background-color: #ffff1a;
}

.text-yellow-light-2 {
  color: #ffff33;
}

.text-hover-yellow-light-2:hover {
  color: #ffff33;
}

.bg-yellow-light-2 {
  background-color: #ffff33;
}

.text-yellow-light-3 {
  color: #ffff4d;
}

.text-hover-yellow-light-3:hover {
  color: #ffff4d;
}

.bg-yellow-light-3 {
  background-color: #ffff4d;
}

.text-yellow-light-4 {
  color: #ffff66;
}

.text-hover-yellow-light-4:hover {
  color: #ffff66;
}

.bg-yellow-light-4 {
  background-color: #ffff66;
}

.text-yellow-light-5 {
  color: #ffff80;
}

.text-hover-yellow-light-5:hover {
  color: #ffff80;
}

.bg-yellow-light-5 {
  background-color: #ffff80;
}

.text-yellow-light-6 {
  color: #ffff99;
}

.text-hover-yellow-light-6:hover {
  color: #ffff99;
}

.bg-yellow-light-6 {
  background-color: #ffff99;
}

.text-yellow-light-7 {
  color: #ffffb3;
}

.text-hover-yellow-light-7:hover {
  color: #ffffb3;
}

.bg-yellow-light-7 {
  background-color: #ffffb3;
}

.text-yellow-light-8 {
  color: #ffffcc;
}

.text-hover-yellow-light-8:hover {
  color: #ffffcc;
}

.bg-yellow-light-8 {
  background-color: #ffffcc;
}

.text-yellow-light-9 {
  color: #ffffe6;
}

.text-hover-yellow-light-9:hover {
  color: #ffffe6;
}

.bg-yellow-light-9 {
  background-color: #ffffe6;
}

.text-yellow-dark-1 {
  color: #e6e600;
}

.text-hover-yellow-black-1:hover {
  color: #e6e600;
}

.bg-yellow-dark-1 {
  background-color: #e6e600;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.text-hover-yellow-black-2:hover {
  color: #cccc00;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-yellow-dark-3 {
  color: #b3b300;
}

.text-hover-yellow-black-3:hover {
  color: #b3b300;
}

.bg-yellow-dark-3 {
  background-color: #b3b300;
}

.text-yellow-dark-4 {
  color: #999900;
}

.text-hover-yellow-black-4:hover {
  color: #999900;
}

.bg-yellow-dark-4 {
  background-color: #999900;
}

.text-yellow-dark-5 {
  color: olive;
}

.text-hover-yellow-black-5:hover {
  color: olive;
}

.bg-yellow-dark-5 {
  background-color: olive;
}

.text-yellow-dark-6 {
  color: #666600;
}

.text-hover-yellow-black-6:hover {
  color: #666600;
}

.bg-yellow-dark-6 {
  background-color: #666600;
}

.text-yellow-dark-7 {
  color: #4d4d00;
}

.text-hover-yellow-black-7:hover {
  color: #4d4d00;
}

.bg-yellow-dark-7 {
  background-color: #4d4d00;
}

.text-yellow-dark-8 {
  color: #333300;
}

.text-hover-yellow-black-8:hover {
  color: #333300;
}

.bg-yellow-dark-8 {
  background-color: #333300;
}

.text-yellow-dark-9 {
  color: #1a1a00;
}

.text-hover-yellow-black-9:hover {
  color: #1a1a00;
}

.bg-yellow-dark-9 {
  background-color: #1a1a00;
}

.text-green {
  color: #19e635;
}

.text-hover-green:hover {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-green-light-1 {
  color: #30e949;
}

.text-hover-green-light-1:hover {
  color: #30e949;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.text-hover-green-light-2:hover {
  color: #47eb5d;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.text-hover-green-light-3:hover {
  color: #5eee72;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.text-hover-green-light-4:hover {
  color: #75f086;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.text-hover-green-light-5:hover {
  color: #8cf39a;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.text-hover-green-light-6:hover {
  color: #a3f5ae;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.text-hover-green-light-7:hover {
  color: #baf8c2;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.text-hover-green-light-8:hover {
  color: #d1fad7;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.text-green-light-9 {
  color: #e8fdeb;
}

.text-hover-green-light-9:hover {
  color: #e8fdeb;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.text-green-dark-1 {
  color: #17cf30;
}

.text-hover-green-black-1:hover {
  color: #17cf30;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.text-green-dark-2 {
  color: #14b82a;
}

.text-hover-green-black-2:hover {
  color: #14b82a;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.text-green-dark-3 {
  color: #12a125;
}

.text-hover-green-black-3:hover {
  color: #12a125;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.text-green-dark-4 {
  color: #0f8a20;
}

.text-hover-green-black-4:hover {
  color: #0f8a20;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.text-green-dark-5 {
  color: #0d731b;
}

.text-hover-green-black-5:hover {
  color: #0d731b;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.text-green-dark-6 {
  color: #0a5c15;
}

.text-hover-green-black-6:hover {
  color: #0a5c15;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.text-green-dark-7 {
  color: #084510;
}

.text-hover-green-black-7:hover {
  color: #084510;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.text-green-dark-8 {
  color: #052e0b;
}

.text-hover-green-black-8:hover {
  color: #052e0b;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.text-green-dark-9 {
  color: #031705;
}

.text-hover-green-black-9:hover {
  color: #031705;
}

.bg-green-dark-9 {
  background-color: #031705;
}

.text-orange {
  color: #ffa600;
}

.text-hover-orange:hover {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.text-hover-orange-light-2:hover {
  color: #ffb833;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.text-hover-orange-light-3:hover {
  color: #ffc14d;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.text-hover-orange-light-4:hover {
  color: #ffca66;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.text-hover-orange-light-5:hover {
  color: #ffd380;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-black-1:hover {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.text-hover-orange-black-2:hover {
  color: #cc8500;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-black-3:hover {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996400;
}

.text-hover-orange-black-4:hover {
  color: #996400;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-black-5:hover {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-black-6:hover {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-black-7:hover {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-black-8:hover {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.text-hover-orange-black-9:hover {
  color: #1a1100;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple-light-1 {
  color: #a31aff;
}

.text-hover-purple-light-1:hover {
  color: #a31aff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.text-hover-purple-light-2:hover {
  color: #ad33ff;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.text-hover-purple-light-3:hover {
  color: #b84dff;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.text-hover-purple-light-4:hover {
  color: #c266ff;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-hover-purple-light-5:hover {
  color: #cc80ff;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.text-hover-purple-light-6:hover {
  color: #d699ff;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.text-hover-purple-light-7:hover {
  color: #e0b3ff;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.text-hover-purple-light-8:hover {
  color: #ebccff;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.text-purple-light-9 {
  color: #f5e6ff;
}

.text-hover-purple-light-9:hover {
  color: #f5e6ff;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.text-purple-dark-1 {
  color: #8a00e6;
}

.text-hover-purple-black-1:hover {
  color: #8a00e6;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.text-purple-dark-2 {
  color: #7a00cc;
}

.text-hover-purple-black-2:hover {
  color: #7a00cc;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.text-purple-dark-3 {
  color: #6b00b3;
}

.text-hover-purple-black-3:hover {
  color: #6b00b3;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.text-purple-dark-4 {
  color: #5c0099;
}

.text-hover-purple-black-4:hover {
  color: #5c0099;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.text-purple-dark-5 {
  color: #4d0080;
}

.text-hover-purple-black-5:hover {
  color: #4d0080;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.text-purple-dark-6 {
  color: #3d0066;
}

.text-hover-purple-black-6:hover {
  color: #3d0066;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.text-purple-dark-7 {
  color: #2e004d;
}

.text-hover-purple-black-7:hover {
  color: #2e004d;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.text-purple-dark-8 {
  color: #1f0033;
}

.text-hover-purple-black-8:hover {
  color: #1f0033;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.text-purple-dark-9 {
  color: #0f001a;
}

.text-hover-purple-black-9:hover {
  color: #0f001a;
}

.bg-purple-dark-9 {
  background-color: #0f001a;
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: #f2f2f2;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-black-1:hover {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-black-2:hover {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-black-3:hover {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-black-4:hover {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-black-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-black-6:hover {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-black-7:hover {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-black-8:hover {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-black-9:hover {
  color: #0d0d0d;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #00d6fc;
}
.btn-primary:hover {
  background-color: #17dcff;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #00d6fc;
}
.btn-outlined-primary:hover {
  background-color: #00d6fc;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #00d6fc;
  color: #ffa696;
}
.btn-complement-primary:hover {
  color: #00d6fc;
  background-color: #ffa696;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #7700ff;
}
.btn-secondary:hover {
  background-color: #851aff;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #7700ff;
}
.btn-outlined-secondary:hover {
  background-color: #7700ff;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #7700ff;
  color: #cfff99;
}
.btn-complement-secondary:hover {
  color: #7700ff;
  background-color: #cfff99;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b40000;
}
.btn-error:hover {
  background-color: #ce0000;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #b40000;
}
.btn-outlined-error:hover {
  background-color: #b40000;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b40000;
  color: #4effff;
}
.btn-complement-error:hover {
  color: #b40000;
  background-color: #4effff;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffd900;
}
.btn-info:hover {
  background-color: #ffdd1a;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffd900;
}
.btn-outlined-info:hover {
  background-color: #ffd900;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffd900;
  color: #99a8ff;
}
.btn-complement-info:hover {
  color: #ffd900;
  background-color: #99a8ff;
}

.btn-slate {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #24292e;
}
.btn-slate:hover {
  background-color: #2f363c;
}

.btn-outlined-slate {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #24292e;
}
.btn-outlined-slate:hover {
  background-color: #24292e;
}

.btn-complement-slate {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #24292e;
  color: #847667;
}
.btn-complement-slate:hover {
  color: #24292e;
  background-color: #847667;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
}
.btn-blue:hover {
  background-color: #3030e9;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #1919e6;
}
.btn-outlined-blue:hover {
  background-color: #1919e6;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
  color: #f5f5a3;
}
.btn-complement-blue:hover {
  color: #1919e6;
  background-color: #f5f5a3;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #e93030;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e61919;
}
.btn-outlined-red:hover {
  background-color: #e61919;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
  color: #a3f5f5;
}
.btn-complement-red:hover {
  color: #e61919;
  background-color: #a3f5f5;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffff00;
}
.btn-yellow:hover {
  background-color: #ffff1a;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffff00;
}
.btn-outlined-yellow:hover {
  background-color: #ffff00;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffff00;
  color: #9999ff;
}
.btn-complement-yellow:hover {
  color: #ffff00;
  background-color: #9999ff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #30e949;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #19e635;
}
.btn-outlined-green:hover {
  background-color: #19e635;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
  color: #f5a3ea;
}
.btn-complement-green:hover {
  color: #19e635;
  background-color: #f5a3ea;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffaf1a;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: #ffa600;
  background-color: #99bdff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #a31aff;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #c2ff99;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #8d8d8d;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #808080;
}
.btn-outlined-gray:hover {
  background-color: #808080;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
  color: #cdcdcd;
}
.btn-complement-gray:hover {
  color: #808080;
  background-color: #cdcdcd;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.navbar .container,
.navbar-white .container,
.navbar-black .container,
.navbar-gray .container,
.navbar-purple .container,
.navbar-orange .container,
.navbar-green .container,
.navbar-yellow .container,
.navbar-red .container,
.navbar-blue .container,
.navbar-slate .container,
.navbar-info .container,
.navbar-error .container,
.navbar-secondary .container,
.navbar-primary .container,
.navbar,
.navbar-white,
.navbar-black,
.navbar-gray,
.navbar-purple,
.navbar-orange,
.navbar-green,
.navbar-yellow,
.navbar-red,
.navbar-blue,
.navbar-slate,
.navbar-info,
.navbar-error,
.navbar-secondary,
.navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar,
.navbar-white,
.navbar-black,
.navbar-gray,
.navbar-purple,
.navbar-orange,
.navbar-green,
.navbar-yellow,
.navbar-red,
.navbar-blue,
.navbar-slate,
.navbar-info,
.navbar-error,
.navbar-secondary,
.navbar-primary {
  padding: 0.75rem, 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title,
.navbar-white .site-title,
.navbar-black .site-title,
.navbar-gray .site-title,
.navbar-purple .site-title,
.navbar-orange .site-title,
.navbar-green .site-title,
.navbar-yellow .site-title,
.navbar-red .site-title,
.navbar-blue .site-title,
.navbar-slate .site-title,
.navbar-info .site-title,
.navbar-error .site-title,
.navbar-secondary .site-title,
.navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #00d6fc;
}

.navbar-secondary {
  background-color: #7700ff;
}

.navbar-error {
  background-color: #b40000;
}

.navbar-info {
  background-color: #ffd900;
}

.navbar-slate {
  background-color: #24292e;
}

.navbar-blue {
  background-color: #1919e6;
}

.navbar-red {
  background-color: #e61919;
}

.navbar-yellow {
  background-color: #ffff00;
}

.navbar-green {
  background-color: #19e635;
}

.navbar-orange {
  background-color: #ffa600;
}

.navbar-purple {
  background-color: #9900ff;
}

.navbar-gray {
  background-color: #808080;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.badge {
  border-radius: 80px;
  background-color: #ffd900;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-primary {
  border-radius: 80px;
  background-color: #00d6fc;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-secondary {
  border-radius: 80px;
  background-color: #7700ff;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-error {
  border-radius: 80px;
  background-color: #b40000;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-info {
  border-radius: 80px;
  background-color: #ffd900;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-slate {
  border-radius: 80px;
  background-color: #24292e;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-blue {
  border-radius: 80px;
  background-color: #1919e6;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-red {
  border-radius: 80px;
  background-color: #e61919;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-yellow {
  border-radius: 80px;
  background-color: #ffff00;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-green {
  border-radius: 80px;
  background-color: #19e635;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-orange {
  border-radius: 80px;
  background-color: #ffa600;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-purple {
  border-radius: 80px;
  background-color: #9900ff;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-gray {
  border-radius: 80px;
  background-color: #808080;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-black {
  border-radius: 80px;
  background-color: black;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-white {
  border-radius: 80px;
  background-color: white;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}
